@media (max-width: 1000px) and (min-width: 400px) {
  #section-b ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #section-b li {
    width: 100%;
  }
  #section-d .box {
    width: 100vw;
  }
  #section-d {
    display: flex;
    flex-direction: column;
  }
  #section-e {
    width: 100%;
  }
}
